{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-3">Студент: {{ student.full_name }}</h1>

    <!-- Карточка с информацией о студенте -->
    <div class="card mb-3">
        <div class="card-header">
            Информация
        </div>
<div class="card-body">
    <p class="card-text">Институт: {{ student.institute }}</p>
    <p class="card-text">Группа: {{ student.group }}</p>
    <p class="card-text">Комната: {{ student.room }}</p>
 <p class="card-text">Баллы: {{ student.total_points }} (Адм: {{ student.total_admin_points }}; ССО: {{ student.total_sso_points }})</p>
<button type="button" class="btn {% if ranking_position <= 10 %}btn-success{% elif ranking_position > 10 and ranking_position <= middle_index %}btn-primary{% elif ranking_position > red_threshold %}btn-danger{% else %}btn-warning{% endif %}">
    Место: {{ ranking_position }}
</button>

</div>

    </div>

    <!-- Карточка с историей баллов -->
    <div class="card">
        <div class="card-header">
            История баллов
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Событие</th>
                        <th>Баллы</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in points_history %}
                    <tr>
                        <td>{{ history.event.name }}</td>
                         <td>{{ history.event.get_event_type_display }}</td>
                        <td>{{ history.event.points }}</td>
                        <td>{{ history.date|date:"Y-m-d H:i" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">История баллов не найдена.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
